<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2021, Gary Gocek, http://gary.gocek.org, gary@gocek.org -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="url0001" value="https://raw.githubusercontent.com/islam2hamy/test/main/khaledalsabt.html"/>
    <add key="destBase0001" value="شرح-مختصر-أخلاق-حملة-القرآن-للآجري.xml"/>
    <add key="guidPrefix0001" value="شرح مختصر أخلاق حملة القرآن للآجري - "/>
    <add key="channelTitle0001" value="شرح مختصر أخلاق حملة القرآن للآجري | الشيخ أ.د. خالد بن عثمان السبت"/>
    <add key="channelUrl0001" value="https://khaledalsabt.com/explanations/book/221/شرح-مختصر-اخلاق-حملة-القران-للاجري/index"/>
    <add key="channelLogo0001" value="https://raw.githubusercontent.com/dev-fos/islampodcast/main/خالد-السبت/khaledalsabt.jpg"/>   
    <add key="channelDescription0001" value="هو كتاب مختصر من كتاب *أخلاق حملة القرآن - للآجرى* هذا المختصر باشراف أ.د. خالد السبت , والذى ذكر فيه مؤلفه جملة من الأخلاق التى ينبغى توفرها فى أهل القرآن من حافظ و مُتَعَلِم ومُعَلِم و مستمع وقارئ .
(لمؤلفه شيخ الإسلام ابن تيمية) ."/>
    <add key="itemDescription0001" value="• كتاب :  مختصر أخلاق حملة القرآن

• المؤلف :  أبو بكر محمد بن الحسين بن عبد الله الآجري البغدادي

• تعليق : الشيخ / أ.د. خالد بن عثمان السبت

• للمزيد , تابعنا على قناة التيليجرام :
https://t.me/islampodcast1
"/>
    <add key="mp3Bitrat0001" value="64"/>
<add key="eTitle0001" value="[1] من قوله: &quot;أحق ما استفتح به الكلام..&quot; إلى &quot;والعبادة لا تكون بغفلة&quot;" />
<add key="eTitle0002" value="[2] من قوله: &quot;ألا ترون رحمكم الله..&quot; إلى &quot;من خلافة عثمان إِلى إِمْرَةِ الحجاج&quot;" />
<add key="eTitle0003" value="[3] من قوله: &quot;عن عقبة بن عامر..&quot; إلى &quot;«أنا الذي أظمأت نهارك وأسهرت ليلك»&quot;" />
<add key="eTitle0004" value="[4] من قوله: &quot;عن إياس بن عامر..&quot; إلى &quot;«إني أحب ان أسمعه من غيري»&quot;" />
<add key="eTitle0005" value="[5] من قوله: &quot;وأحب لمن كان يُقْرِئ..&quot; إلى &quot;وانصرافه ما يشبه أهل القرآن&quot;" />
<add key="eTitle0006" value="[6] من قوله: &quot;باب آداب القُرَّاء عند تلاوتهم..&quot; إلى &quot;والحمد لله رب العالمين&quot;" />
    <add key="Title0001" value="true"/>
    <add key="enabled0001" value="true"/>
    <add key="urlPrefix0001" value="="/>
    <add key="destFolderName0001" value=".\podcasts"/>
    <!-- <add key="destFolderName0001" value=".\mp3scraper\bin\Release\podcasts"/> -->
    <!-- http://www.mysite.comn/podcasts/ -->
    <add key="indirect0001" value="false"/>
    <add key="channelAuthor0001" value="إسلام بودكاست"/>
    <add key="channelNotes0001" value=""/>
    <add key="sortDescending0001" value="true"/>
    <add key="retainOrphans0001" value="false"/>
    <add key="stripBaseName0001" value="false"/>
    <add key="refreshDays0001" value="7"/>
    <add key="allowHttps0001" value="false"/>
    <add key="wraparound0001" value="false"/>
    <add key="maxWebRequests0001" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>


